.navbar{
    background-color: #e3f2fd;
    font-size: 0.9em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    margin-bottom: 10px;
}

    
.img-thumbnail{
    padding: 0;
    width: 100%;
}
.figure-caption{
    padding: 9px;
}
.delete{
    display: inline;
    
}