<%include ../partials/header %>
<div class="jumbotron">
  <h1 class="display-3">Welcome to Got water?</h1>
  <p class="lead">This web app allows you to give the location of your camp and request water to be sent to you for a monetary compensation</p>
  <hr class="my-4">
  <p>Create a new camp to get started.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/camps/new" role="button">Create new camp</a>
  </p>
</div>
<%foundCamps.forEach(function(camp){%>
        <h2><%=camp.name%></h2>
        <img src="<%=camp.image%>">
        <p><%=camp.description%></p>
        <a href='/camps/<%=camp.id%>'>Show</a>
        <% }) %>
<%include ../partials/footer %>