<%include ../partials/header %>
<form action="/camps/<%=camp.id%>/comments" method="POST" id="new">
<label>Text</label>
             <input type="text" placeholder="Write a comment" name="comment[text]">
             <input type="submit">

</form>
<% include ../partials/footer %>